body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgray;
  display: flex;
  justify-content: center;
}
.app {
  display: flex;
  background-color: white;
  max-width: 800px;
  padding: 8px;
}

td:last-child {
  text-align: right;
}

.app > div {
  padding: 8px;
}

fieldset > label {
  display: block;
}